.card {
  text-align: left;
  margin: 16px;
  padding: 16px 32px;
  border-radius: 10px;
}

.cardItem {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 24px;
}

.cardHeading {
  > h3,
  img {
    display: inline-block;
    vertical-align: bottom;
  }
}