$primary: #1976d2;
$light: #4791db;

.App {
  text-align: center;

    .container {
      text-align: center;
      display: grid;
      grid-template-columns: 33% 33% 33%;


      @media (max-width: 1024px) {
      grid-template-columns:  50% 50%;
      }

      @media (max-width: 768px) {
      grid-template-columns:  100%;
      }

      .card {
        background-color: $light;
        border: 2px solid $primary;
      }

  }
}


