$primary: #1976d2;
$light: #4791db;

.App {
  text-align: center;

  .container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 16px;

    .card {
      background-color: $light;
      border: 2px solid $primary;
    }
  }
}


